/Programacion/Practica2/Practica2/target/
/Netbeans/Practica 2/Practica2/target/
/Netbeans/Practica 2/Programa2/nbproject/private/
/Netbeans/Practica 2/Programa2/build/
/Programacion/Practica3/nbproject/private/
/Programacion/Practica3/build/
/Netbeans/Practica2Estruc/nbproject/private/
/Netbeans/Practica2Estru/nbproject/private/
/Netbeans/Practica2Estru/build/
/Programacion/Examen/nbproject/private/
/Programacion/Examen/build/
/Programacion/Practica4/nbproject/private/
/Netbeans/Practica3/nbproject/private/
/Netbeans/Practica3/build/
/Programacion/Practica6/nbproject/private/
/Programacion/Practica6/build/
/Netbeans/Practica4/nbproject/private/
/Netbeans/Practica4/build/
/Programacion/Practica7/nbproject/private/
/Programacion/Examen2/nbproject/private/
/Programacion/Examen2/build/
/Netbeans/Practica5/nbproject/private/
/Netbeans/Practica5/build/
/Netbeans/Practica5/dist/
/Programacion/Practica8/nbproject/private/
/Programacion/Practica8/build/
/Programacion/Practica8/dist/
/Netbeans/Practica6/nbproject/private/
/Netbeans/Practica6/build/
/Netbeans/Practica6/dist/
/Programacion/Practica9/nbproject/private/
/Programacion/Practica9/build/
/Netbeans/JavaApplication17/nbproject/private/
/Netbeans/Practica7/nbproject/private/
/Netbeans/Practica7/build/
/Netbeans/Practica7/dist/
